# better auth
BETTER_AUTH_SECRET=""

# google auth provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# database (pg)
DATABASE_URL=""

# resend
RESEND_API_KEY=""

# openai api key
OPENAI_API_KEY=""

# google ai api key
GOOGLE_GENERATIVE_AI_API_KEY=""

# perplexity
PERPLEXITY_API_KEY=""
